@font-face{
    font-family: lato_hai;
    src: url(fonts/lato-Hai.ttf);
}
@font-face{
    font-family: lato_haiIta;
    src: url(fonts/lato-HaiIta.ttf);
}
/*===================MOBILE===================================*/
@media screen and (max-width: 320px){
    header{
        background: #bba588 url(img/header_bg-320.png)center center no-repeat;
        height: 568px;
    }
    .header_logo img.desktop{
        display: none;
    }
    .header_logo img.tablet_mobile{
        display: block;
        width:60%;
        margin: 30px 50px 10px 50px;
    }
    .header_title{
        margin: 50px auto 20px auto;
        width: 100%;
    }
    .header_title a{
        width: 50%;
        margin: 10px auto 30px auto;
        padding: 10px 0 10px 0;
    }
    .header_title h1{
        font-size: 50px;
    }
    .header_title p{
        font-size: 10px;
    }
    nav{
        display: none;
    }
    .food_block p{
        font-size: 36px;   
    }
     .numbers{
        width: 100%;
        padding: 20px 0 20px 0;
        border-bottom: 1px solid #f7f7f7;
    }
    .numbers p{
        text-align: center;
    }
    .footer_content p.copy{
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }
    .footer_content p.adress{
        float: none;
        text-align: center;
    }
}
/*============================TABLET==========================*/
@media screen and (min-width: 320px){
    header{
        background: #bba588 url(img/header_bg-320.png)center center no-repeat;
        height: 568px;
    }
    .header_title a{
        padding: 10px 0 10px 0;
        display: block;
        width:50%;
    }
    .header_title h1{
        font-size: 50px;
    }
     .header_title p{
        font-size: 12px;
    }
     .footer_content p.copy{
        float: none;
    }
    .footer_content p.adress{
        float: none;
    }
}
@media screen and (min-width:320px) and (max-width: 679px){
    header{
        background: #bba588 url(img/header_bg-480.png)center center no-repeat;
    }
    .header_logo img.desktop{
        display: none;
    }
    .header_logo img.tablet_mobile{
        display: block;
        float: none;
        margin: 0 auto;
        padding-top: 30px;
    }
    .header_title{
        width: 100%;
        margin: 30px auto 0 auto;
    }
    .header_title h1{
        font-size: 70px;
    }
    .header_title h2{
        font-size: 36px;
    }
    .header_title a{
        margin: 5px auto 20px auto;
        padding: 10px 0 10px 0;
        width: 275px;
    }
    .header_title p{
        font-size: 14px;
    }
    nav{
        display: none;
    }
    .icon_block{
        width: 100%;
        padding: 25px 0 0 0;
    }
   .info_ifon_text h2{
        margin: 25px 0 20px 0;
    }
    .info_ifon p{
        margin-bottom: 25px;
    }
    .food_title{
        padding: 50px 0 25px 0;
        text-align: center;
    }  
    .food_block > a{
        width: 50%;  
    } 
   .food_block p{
        font-size: 30px;    
    } 
    .numbers p{
        font-size: 36px;
        text-align: center;
    }
    .numbers span{
        font-size: 16px; 
        text-align: center;
    }
    .numbers{
        width: 100%;
        padding: 20px 0 30px 0;
        border-bottom: 1px solid #F7F7F7;
    }
    .footer_content p.copy{
        float: none;
        text-align: center;
        margin-bottom: 15px;
    }
    .footer_content p.adress{
        float: none;
        text-align: center;
    }
}
@media screen and (min-width:680px) and (max-width: 779px){
    header{
        background: #bba588 url(img/header_bg-780.png)center center no-repeat;
        min-height: 429px;
    }
    .header_logo img.tablet_mobile{
        display: none;
    }
    .header_title{
        margin-top: 50px;
    }
     .header_title h1{
        font-size: 100px;
    }
     .header_title h2{
        font-size: 36px;
    }
    .header_title a{
         margin: 25px auto 40px auto;
         padding: 20px 10px 20px 10px;
         width: 275px;
    }
     .header_title p{
        font-size: 14px;
    }
    .icon_block{
        width: 30%;
        padding: 100px 0 100px 0;
    }
     .icon_block p{
        line-height: 1;
    }
    .info_ifon p{
        line-height: 1;
    }
   .info_ifon_text img{
        margin-top: 5px;
    }  
    .info_ifon_text h2{
        margin: 30px 0 20px 0;
    }
    .info_ifon p{
        margin-bottom: 25px;
    } 
    .slider_wrapper{
        margin-top: 20px;  
    }    
   .food_title{
        padding: 50px 0 25px 0;
        text-align: center;
    } 
    .food_block > a{
        width: 50%;
    }
    .food_block p{
        font-size: 36px;
       
    }
    .numbers p{
        font-size: 20px;
    }
    .numbers span{
        font-size: 10px;  
    }
    .numbers{
        width: 20%;
        padding: 55px 0 55px 0;
    }
 }
@media screen and (min-width:780px) and (max-width: 1099px){
    header{
        background: #bba588 url(img/header_bg.png)center center no-repeat;
        min-height: 880px;
    } 
    .header_title{ 
        width: 70%;
        margin: 230px auto 40px auto;   
}
     .header_title h1{
        font-size: 100px;
    }
    .header_title h2{
        font-size: 36px;
    }
    .header_title a{
         margin: 25px auto 40px auto;
         padding: 20px 0 20px 0;
         width: 275px;
    }
     .header_title p{
        font-size: 14px;
    }
   .header_logo img.tablet_mobile{
        display: none;
    }  
    .icon_block{
        width: 30%;
        padding: 100px 0 100px 0;
    }
    .info_ifon_picture{
        width: 60%;
        background: url(img/ifon_tablet.png)no-repeat;
        min-height: 580px;
    }
    .info_ifon_text{
        width: 38%;
        }
    .info_ifon{
        padding: 50px 0 0 0;
    } 
    .info_ifon_text h2{
        margin: 10px 0 10px 0;
    }
    .info_ifon p{
        margin-bottom: 15px;
    }
    .slider_wrapper{
         margin-top: -15px;
    }
    .food_title{
        padding: 100px 0 50px 0;
        text-align: center;
    } 
    .food_block > a{
        width: 20%;
    }
    .food_block p{
        font-size: 26px;
       
    }
     .numbers p{
        font-size: 30px;
    }
    .numbers span{
        font-size: 16px;  
    }
    .numbers{
        width: 20%;
        padding: 55px 0 55px 0;
    }
    .footer_content p.copy{
        float: left;
    }
    .footer_content p.adress{
        float: right;
    }
 }
/*============================DESCTOP==========================*/
@media screen and (min-width:1100px){
     header{
        background: #bba588 url(img/header_bg.png)center center no-repeat;
        min-height: 880px;
    }
 .header_logo img.tablet_mobile{
        display: none;
    }
    .header_title{
        margin: 230px auto 40px auto;
        text-align: center;
    }
    .header_title h1{
        font-size: 100px;
    }
    .header_title h2{
        font-size: 36px;
    }
    .header_title a{
        margin: 25px auto 40px auto;
        padding: 20px 0 20px 0;
        width: 275px;
    }
     .header_title p{
        font-size: 14px;
    }
/*==========SECTION ICON_BLOCK===========*/
    .icon_block{
        width: 30%;
        padding: 100px 0 100px 0;
    }
/*================SECTION++++INFO==============================*/
    .info_ifon_picture{
        width: 60%;
        background: url(img/ifon.png)no-repeat;
        min-height: 780px;
    }
    .info_ifon_text{
        width: 40%;
        }
    .info_ifon{
        padding: 100px 0 0 0;
    }        
    .info_ifon_text h2{
        margin: 100px 0 20px 0;
    }
    .info_ifon p{
        margin-bottom: 30px;
    }
    .slider_wrapper{
         margin-top: -15px;
    }
    .food_title{
        padding: 100px 0 50px 0;
        text-align: center;
    }  
    .food_block > a{
        width: 20%;   
    }
    .food_block p{
        font-size: 36px;     
    }
    .numbers p{
        font-size: 36px;
    }
    .numbers span{
        font-size: 16px;  
    }
    .numbers{
        width: 20%;
        padding: 55px 0 55px 0;
    }
    .footer_content p.copy{
        float: left;
    }
    .footer_content p.adress{
        float: right;
    }
}
/*=============================================================*/
.layout_positioner{
    width: 90%;
    margin: 0 auto;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
header{
    background-size: cover;
    width: 100%;

}
.header_logo img{
    float: left;
    margin-top: 20px;
}
nav{
    float: right;
    margin-top: 20px;
    font-size: 0;
}
nav a{
    display:inline-block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    padding: 35px 30px 35px 30px;
    font-size: 14px;
    font-family:'Lato', sans-serif; 
}
nav a:hover{
    text-decoration: underline;
}
nav>div{
    width: 15px;
    height: 10px;
    position: relative;
    border-bottom: 4px solid #fff;
    border-top: 4px solid #fff;
    float: right;
    margin-top: 35px;
}
nav>div::after{
    content: "";
    position: absolute;
    width: 15px;
    top: 3px;
    left: 0;
    border-bottom: 4px solid #fff;
    float: right;
}
.header_title{
    text-align: center;
    color: #fff;
    
}
.header_title h2{
    font-family: 'Times New Roman', sans-serif;
    font-style: italic;
    font-weight: 700;
}
.header_title h1{
    font-family:'Lato', sans-serif;
    color: #fff;
    font-weight: 700;
}
.header_title a{
    display: block;
    font-family:'Lato', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    border: 4px solid #fff;
    text-align: center;
    cursor: pointer;
}
.header_title a:hover{
    text-decoration: underline;
}
.header_title p{
    font-family:'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
/*=====================SECTION ICON_BLOCK====================*/
section.icon{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.icon_block{
    text-align: center;
    font-family: 'Lato', sans-serif; 
    color: #000;
}
.icon_1,
.icon_2,
.icon_3{
    width: 100px;
    height: 100px;
    border: 3px solid #221f1f;
    border-radius: 50%;
    margin: 0 auto;
}
.icon_1{
    background: url(img/icon_1.png)center center no-repeat;
}
.icon_2{
    background: url(img/icon_2.png)center center no-repeat;
}
.icon_3{
    background: url(img/icon_3.png)center center no-repeat;
}
.icon_block h2,
.info_ifon_text h2{
    font-size: 18px;
    text-transform: uppercase;
}
.icon_block h2{
     margin: 20px 0 20px 0;
}
.icon_block h2::after,
.info_ifon_text h2::after{
    content: "";
    display: block;
    border-bottom: 2px solid red;
}
.icon_block h2::after{
    margin: 7px auto 0 auto;
    width: 20%;
}
.icon_block p,
.info_ifon p{
    font-size: 16px;
    font-weight: 100;
}
.icon_block p{
    line-height: 1.8;
}
/*=====================SECTION INFO_IFON====================*/
section.info{
    background: #f7f7f7;
    position: relative;
    z-index: 10;
}
.info_ifon{
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif; 
}

.info_ifon_text h2::after{
    width: 15%;
    margin: 7px 0 0 0;
}
.info_ifon p{
    text-align: justify;
}
.info_ifon_text a{
    display: inline-block;
}
.info_ifon img{
    margin-right: 10px;
}
.info_ifon img:hover{
    opacity: 0.8;
}
/*=====================SECTION SLIDER====================*/
.slider_wrapper{
    background: #4a3949;
    position: relative;
    min-height: 472px;
    z-index: 100;
}
.slider_bg{
    background: url(img/slider_bg.png)center center no-repeat;
    min-height: 472px;
    }
.slider{
    width: 70%;
    margin: 0 auto;
    position: relative;
}

input[type="radio"]{
    display: none;
}
.slider_controls{
    position: absolute;
    width: 30%;
    text-align: center;
    left: 35%;
    bottom: 0;
}
.slider_controls label{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #948b93;
    text-align: center;
    cursor: pointer;
}
.slide{
    padding-top: 70px;
}
#slide_1:checked ~ .slider_controls label[for="slide_1"],
#slide_2:checked ~ .slider_controls label[for="slide_2"],
#slide_3:checked ~ .slider_controls label[for="slide_3"]{
    background: #fff;
}
.worker{
    width: 100px;
    height: 100px;
    border: 4px solid #948b93;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    }
.worker_1{
     background: url(img/foto_1.png)center center no-repeat;
    }
.slide p{
    font-family: lato_hai;
    color: #8F878E;
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
    }
.slide p>span{
    display: block;
    margin-top: 15px;
}
.slide p.name{
    font-family: lato_haiIta;
    text-align: center;
    font-size: 18px;
    }
/*=====================SECTION FOOD====================*/
.food_title{
    text-align: center;
}
.food_title h3{
    width: 40%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #000;
}
.food_section h3:after{
    content: "";
    display: block;
    width: 20%;
    border-bottom: 2px solid red;
    margin: 7px auto 0 auto;
}
.food_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   }
.food_block > a{
    display: block;
    position: relative;
}
.food_block > a:hover{
    opacity: 0.8;
}
.food_block img{
    width: 100%;
}
.name_food{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center; 
    vertical-align: middle;
    padding-top: 20%;
}
.food_block p.price{
    font-family: 'Times New Roman', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    text-transform: lowercase;
}
.food_block p{
    font-family:'Lato', sans-serif;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
/*=============SECTION PRICE_SECTION==============*/
.numbers_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.numbers{
/*    padding: 55px 0 55px 0;*/
    text-align: left;
}
.numbers p{
    font-family:'Lato', sans-serif;
    color: #000;
}
.numbers span{
    font-family:'Lato', sans-serif;
    font-weight: 100;
    display: block;
    margin-top: 5px;
}
/*=============FOOTER==============*/
footer{
    background: #f7f7f7;
    border-top: 1px solid #e2e2e2;
}
.footer_content{
    padding: 30px 0 30px 0;
}
.footer_content p.copy{
    font-family:'Lato', sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: #8b8b8b;
}
.footer_content p.adress{
    font-family:'Lato', sans-serif;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 1.5;
    color: #8b8b8b;
}
.footer_content p.adress span{
    font-weight: 300;
    color: #000;
}